# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Image files
*.png
!Assignment_4/Assignment_2_mpi_matrix_multiplication.png
!Assignment_4/Assignment_3_cuda_matrix_multiplication.png

# Data files
*.csv